.progress-circle{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: 
radial-gradient(closest-side, rgb(13,17,22) 79%, transparent 80% 100%),
conic-gradient(blue 50%, white 0);

}